/*light*/

body {
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F2EAE2 0%, #ABA5A1 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #F2EAE2 0%, #ABA5A1 100%);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
    color: #82756f;
    background: #f5edee;
    display: block;
    /*border-radius: 10px;*/
    width: 1150px;
    height: 100px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 10px 10px 5px #888888;
    font: 24px/18px Helvetica;
}

#header h1{
    margin: 10px;
}

#header h1 b{ 
    color: rgb(201, 194, 190);
}
#header h3{
    margin: 5px;
    text-align: right;
    color: rgb(163, 153, 148);
}

#logo {
    width: 420px;
    float: right;
    text-align: right;
    display: inline-block; 
}

#main {
    display: inline-block;
    width: 1600px;
    height: 1200px;
    margin: 0px;
    padding: 20px 40px;
    border: solid #ddd;
    box-shadow: 10px 10px 5px #888888; 
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#form{
    width: 600px;
    float: left;
    /*margin: 10px;*/
}

#form h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul { margin-left: 15px; padding-left: 0; }
li li { margin-left: 1.5em; padding-left: 1.5em; }

#dirMenu {
    width: 335px;
    height: 350px;
    overflow:scroll;
    text-align: left;
    padding: 20px;
    border: solid #ddd;
/*    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; */
    font: 12px/14px Helvetica;
/*    border:2px solid;*/
    box-shadow: 10px 10px 5px #888888;
        padding: 20px 40px 20px; 
    color: #82756f;
    background: #f5edee;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    float: left;
    margin: 20px;
    margin-left: 40px;
    margin-right: 30px;
}

#dirMenu h4 {
    font: 16px/14px Helvetica;
    margin-top: 10px;
    margin-bottom: 10px;
}
#clickItems {

}

#dispfile {
    width: 680px;
    height: 350px;
    overflow:scroll;
    margin: 20px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
    /*padding: 20px 40px;*/
    border: solid #ddd;
    font: 16px/18px Helvetica;
    box-shadow: 10px 10px 5px #888888;
    padding: 20px 40px 20px; 
    color: #82756f;
    background: #f5edee;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    float: left;
}
#fileViewer {
    width: 1300px;
    height: 440px;
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}

body .modal {
    width: 800px;
    height: 370px; 
    margin-left: auto;
    margin-right: auto;
}

#diffviewer {
    width: 1550px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#baseView, #diffView, #headView {
    background: #f5edee;
    display: inline-block;
    border: 1px solid #ddd;
    width: 377px;
    height: 350px;
} 

#baseView {

    /*height: 340px;*/
    margin-right: 21px;
    overflow:scroll;
    box-shadow: 10px 10px 5px #888888;
}

#diffView {
    width: 370px;
    /*height: 340px;*/
    margin-left: 21px;
    margin-right: 21px;
    overflow:scroll;
    box-shadow: 10px 10px 5px #888888;
}
#headView {


    width: 370px;
    /*height: 340px;*/
    margin-left: 21px;
    overflow:scroll;
    box-shadow: 10px 10px 5px #888888;
}

#baseSelector, #headSelector {
    width: 200px;
}
/*#main a {
    margin-top: 0;
    font-size: 16px;
    color: #423739;
}*/

#main h1 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
}
#main ul {
    padding-left: 20px;
}


/*#main ul span {
    font-size: 10px;
    color: gray;
    float: right;
}*/

#repolist {
    border:2px solid;
    width: 320px;
    height: 270px;
    display: inline;
}
#repos {
    border:2px solid;
    border-radius:22px;
    width: 320px;
    height: 600px;
    display: inline;
}

#repos .dir {
    color: #82756f;
}

#repos .dir {
    color: blue;
}

.dir {
    color: blue;
}

ul {
    list-style-type: none;
}
/*
#fileView {
    width: 400px;
    height: 600px;
    float: left;
    display: inline;
    font: 16px/16px Helvetica;
}*/

#submitButton, #backButton {
    color: #f5edee;
    background-color: #A69894;
    float: left;
    width: 80px;
    height: 36px;
    margin: 0px 6px;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/ 
    font-size: 16px;
    font-weight: bold;
    outline: 1px dashed #f5edee;
    outline-offset: -5px;
}
#diffit {
    float: right;
    text-decoration: none;
    font: 24px/18px Helvetica;
    color: #82756f;

}
#diffit h1 {
    color: #82756f;
}

#diffit h1 b {
    color: rgb(201, 194, 190);
}

.usernameInput{
    width: 220px;
    height: 16px;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
    font: 16px/16px Helvetica;
}
#userName, #submitButton {
    float: left;
}
.highlight {
    font-weight: bold;
}
#modalView {
    display:inline-block;
    width: 800px;
    height: 300px;
}
